{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


.btn-account {
    background-color: #5f6fff;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 400;
}

/* CONTACT SECTION */
.contact-section {
    padding: 60px 8%;
    text-align: center;
}

.page-title {
    font-size: 1.4rem;
    color: #4b5563;
    font-weight: 400;
    margin-bottom: 40px;
}

.dark-text {
    font-weight: 600;
    color: #1f2937;
}

.contact-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

.contact-img {
    width: 100%;
    max-width: 380px;
    border-radius: 4px;
}

.sub-heading {
    font-size: 1rem;
    color: #4b5563;
    margin-bottom: 15px;
    margin-top: 25px;
}

.text-gray {
    color: #4b5563;
    font-size: 0.9rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.btn-explore {
    text-decoration:none;
    background: blue;
    border: 1px solid #1f2937;
    padding: 16px 32px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 0.9rem;
}

.btn-explore:hover {
    background-color: #1f2937;
    color: white;
}
</style>

    <section class="contact-section">
        <h2 class="page-title dark-text">CONTACT <span class="dark-text">US</span></h2>

        <div class="contact-grid">
            <div class="contact-img-container">
                <img src="{% static 'images/final.png' %}" alt="appointMEND Office" class="contact-img">
            </div>

            <div class="contact-details">
                <h3 class="sub-heading">OUR UNIVERSITY</h3>
                <p class="text-gray">74/A, Green Road<br>Dhaka - 1205, Bangladesh</p>

                <p class="text-gray">PABX: +8802-41010626-9 (Ext-777)<br>Email: headcse@uap-bd.edu</p>

                <h3 class="sub-heading">OUR TEAM</h3>
                <p class="text-gray">23201011@uap-bd.edu</br>23201032@uap-bd.edu<br>23201052@uap-bd.edu<br></p>

                <a class="btn-explore text-white" href="https://github.com/tanha-akter/Hospital_Appointment">Explore Project Code</a>
            </div>
        </div>
    </section>

   {% endblock %}