{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- HERO -->
<section class="hero-section py-5 overflow-hidden">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6"
                 data-aos="fade-right"
                 data-aos-delay="100">

                <h1 class="display-4 fw-bold hero-title">
                    Your health, <br> Our priority
                </h1>

                <p class="text-muted my-4 fs-5"
                   data-aos="fade-right"
                   data-aos-delay="200">

                    Our dedicated team is committed to providing comprehensive and compassionate care.<br>
                </p>

                <a class="btn btn-primary-custom px-4 py-3 rounded-1 shadow-sm"
                        data-aos="fade-right"
                        data-aos-delay="300" href="{% url 'doctor_list'%}">
                    Find Doctors
                </a>
            </div>

            <div class="col-lg-6 text-center"
                 data-aos="fade-left"
                 data-aos-delay="200">

                <div class="floating-animation">
                    <img src="{% static 'images/homepage.jpg' %}"
                         class="img-fluid rounded-4 shadow-lg main-hero-img">
                </div>
            </div>

        </div>
    </div>
</section>

<section class="py-5 bg-light-blue">
    <div class="container text-center">

        <h2 class="fw-bold mb-5" data-aos="zoom-in">
            What We Offer
        </h2>

        <div class="row g-4">

            <div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
                <div class="card expertise-card p-4 shadow-sm">
                    <i class="bi bi-tooth fs-1 text-primary"></i>
                    <h5 class="fw-bold mt-3">Symptom Checker</h5>
                    <p class="text-muted small">Input your symptom and we will instantly guide you to the right specialist of your needs</p>
                </div>
            </div>

            <div class="col-md-3" data-aos="fade-up" data-aos-delay="200">
                <div class="card expertise-card p-4 shadow-sm">
                    <i class=" fs-1 text-primary"></i>
                    <h5 class="fw-bold mt-3">Effortless Booking</h5>
                    <p class="text-muted small">Skip the endless phone calls. Browse and secure available slots in just a few clicks.</p>
                </div>
            </div>

            <div class="col-md-3" data-aos="fade-up" data-aos-delay="300">
                <div class="card expertise-card p-4 shadow-sm">
                    <i class="fs-1 text-primary"></i>
                    <h5 class="fw-bold mt-3">Live Queue Tracking</h5>
                    <p class="text-muted small">Time is Valuable. Monitor your appointment status with our Live Queue feature</p>
                </div>
            </div>

            <div class="col-md-3" data-aos="fade-up" data-aos-delay="300">
                <div class="card expertise-card p-4 shadow-sm">
                    <i class="fs-1 text-primary"></i>
                    <h5 class="fw-bold mt-3">Download Prescription</h5>
                    <p class="text-muted small">No more worrying about lost paperwork. Securely access and download your prescriptions from you profile</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- WELLNESS -->
<section class="py-5">
    <div class="container">

        <div class="row align-items-center">

            <div class="col-lg-6"
                 data-aos="fade-right">

                <h2 class="fw-bold">
                    Start Your Wellness Journey Now
                </h2>

                <p class="text-muted mt-3">
                   Every second matters when it comes to your health. We’ve redesigned the hospital experience so you can focus less on waiting rooms and more on healing.
                </p>

                <a class="btn btn-primary-custom mt-3" href="{% url 'home'%}">
                    Get Started
                </a>
            </div>

            <div class="col-lg-6 text-center"
                 data-aos="zoom-in">

                <div class="doctor-circle-bg">
                    <img src="{% static 'images/Circle.jpeg'%}"
                         class="rounded-circle shadow">
                </div>

            </div>

        </div>
    </div>
</section>

<!-- CTA -->
<section class="py-5 bg-light-blue text-center">
    <div class="container" data-aos="flip-up">
        <h2 class="fw-bold">
            We have trusted specialists ready to care for you, <br> Book Yours Today!
        </h2>
    </div>
</section>

{% endblock %}